/* Colors */
$primary-color: #222;
$secondary-color: #666;
$active-color: #E20000;

/* Font sizes */
$body-font-size: 16px;
$paragraph-font-size: 26px;

/* Fonts */
$paragraph-font: 'Poppins', sans-serif;
$body-font: Arial, sans-serif;